p {
    font-family: Roboto;
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    margin-bottom: 0px;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24.5px;
    color: black;
  }
  .stats {
    margin-top: 4px;
  }
  .author {
    margin-top: 20px;
  }
  .description {
    margin-top: 16px;
    line-height: 20px;
  }
  .shopping {
    margin-top: 100px;
    width: auto;
    text-align: center;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
  }
